@url:"../assets";
@main_color:#ef5843;
@deep_color:#e94d3a;
body{
    background: #eeeeee;
    padding-bottom: 80px;
}
.searchBox{
  padding: 15px 95px 15px 15px;
  position: relative;
  .search-btn{
    height: 35px;
    line-height: 35px;
    width: 70px;
    border: 1px solid white;
    color: white;
    background-color: #ef4a43;
    position: absolute;
    right: 15px;
    top:15px;
    border-radius: 4px;
    text-align: center;
  }
  .txt{
    width: 100%;
    padding: 0px 10px 0px 35px;
    height: 35px;
    line-height: 35px;
    background: url("@{url}/search.png") no-repeat 10px center white;
    background-size: 18px;
    border: 1px solid white;
  }
}
.indexPage{
  .searchBox{
    background-color: #ef4a43;
    margin-bottom: 5px;
    .txt{
      cursor: pointer;
    }
  }
  .module{
    margin-bottom: 10px;
    background-color: white;
    border-top: 1px solid #e1e2e5;
    border-bottom: 1px solid #e1e2e5;
  }
  .title{
      border-left: 5px solid #1967b2;
      height: 40px;
      line-height: 40px;
      padding-left: 15px;
      font-size: 18px;
  }
}
.hotRec{
  margin:0px 15px 15px;
  border-right: 5px solid #ef4a43;
  box-shadow: 0px 0px 10px #eeeeee;
  border-radius: 3px;
  position: relative;
  padding: 0px 0px 0px 100px;
  height: 85px;
  dt{
    position: absolute;
    height: 85px;
    width: 100px;
    padding-top: 12px;
    text-align: center;
    border-right: 1px dashed #707070;
    left: 0px;
    top: 0px;
    .num{
      font-size: 26px;
      line-height: 35px;
    }
  }
  dd{
    width: 100%;
    padding: 12px;
    .name{
      line-height: 30px;
      height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 16px;
      font-weight: normal;
    }
    .tag{
      margin-top: 5px;
      height: 24px;
      overflow: hidden;
      .it{
        display: inline-block;
        font-size: 12px;
        border: 1px solid @main_color;
        padding: 0px 5px;
        height: 22px;
        line-height: 20px;
        overflow: hidden;
        border-radius: 2px;
        margin: 0px 4px;
        color: #666666;
      }
    }
  }
}
.fixed-bottom{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  background-color: white;
  a{
    width:50%;
    float: left;
    text-align: center;
    height: 45px;
    line-height: 45px;
    &.current{
      background-color: #ef4a43;
      color: white;
    }
  }
  i{
    display: inline-block;
    width: 18px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 4px;
    &.hot{
      background: url("@{url}/hot-dis.png") no-repeat;
      background-size: 18px;
    }
    &.hold{
      background: url("@{url}/hold-dis.png") no-repeat;
      background-size: 20px;
    }
  }
  .current{
    i{
      &.hot{
        background: url("@{url}/hot.png") no-repeat;
        background-size: 18px;
      }
      &.hold{
        background: url("@{url}/hold.png") no-repeat;
        background-size: 20px;
      }
    }
  }
}
.main-fund{
  li{
    float: left;
    height: 110px;
    overflow: hidden;
    width:50%;
    border-top: 1px solid #e0e0e0;
    a{
      display: block;
      margin:15px 0px;
      height: 80px;
      border-right: 1px solid #dadada;
      padding-left: 25px;
    }
    &:nth-child(even){
      a{
        border-right: none;
      }
    }
  }
  .name{
    font-size: 16px;
  }
  dfn{
    color: #1967b2;
    font-size: 24px;
    line-height: 25px;
    margin: 5px 0px;
    display: block;
  }
}
.fundThemes{
  .tab{
      border-bottom: 1px solid #e5e5e6;
      background-color: white;
      text-align: center;
      a{
          padding: 10px 0px;
          width: 33.3%;
          float: left;
          text-align: center;
          color: #666666;
          &.current{
              border-bottom: 2px solid #ef5643;
              position: relative;
              top: 1px;
              color: #ef5643;
          }
      }
  }
  .tb{
    width: 100%;
    border-top: 1px solid #e5e5e6;
    margin-top: 5px;
    th,td{
      padding: 10px 15px;
      background-color: white;
      border-bottom: 1px solid #e5e5e6;
      &.text-left{
        text-align: left;
      }
      &.text-right{
        text-align: right;
      }
    }
    th{
      font-size: 12px;
      font-weight: normal;
      color: #666666;
    }
    .name{
      margin-bottom: 5px;
    }
  }
}
.searchPage{
  .tb{
    width: 100%;
    background-color: white;
    td{
      padding: 10px 15px;
      text-align: center;
      &.text-left{
        text-align: left;
      }
    }
    .tag{
      height: 22px;
      line-height: 20px;
      display: inline-block;
      padding: 0px 5px;
      border-radius: 10px;
      border: 1px solid #ef4a43;
      margin-left: 5px;
      font-size: 12px;
      color: #ef4a43;
    }
    th{
      padding: 0px 15px 5px;
      font-weight: normal;
    }
    .name{
      font-size: 16px;
      line-height: 20px;
      padding-left: 20px;
    }
    .num{
      font-size: 28px;
      line-height: 20px;
      font-weight: bold;
    }
    .btn{
      padding: 0px 20px;
    }
  }
  .pad{
    padding: 30px 0px;
  }
  .fundResult .tb{
    margin-top: 5px;
  }
  .searchBox{
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    .txt{
      background-color: #efeff0;
    }
  }
  .search-history{
    background-color: white;
    padding:0px 0px 0px 15px;
    .top{
      border-bottom: 1px solid #e9e9e9;
      padding:10px 15px 10px 0px;
      .title{
        color: #999999;
        padding-left: 20px;
        background: url('@{url}/his.png') left center no-repeat;
        background-size: 15px;
      }
    }
    .con{
      padding: 15px 15px 5px 0px;
      a{
        display: inline-block;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #666666;
        border: 1px solid #d5d6d8;
        padding: 0px 5px;
        border-radius: 4px;
        margin:0px 5px 10px;
      }
    }
  }
  .hot-title{
    padding: 15px;
    color: #666666;
    font-size: 18px;
    font-weight: normal;
  }
  .hot-list{
    border-top: 1px solid #e5e5e6;
    border-bottom: 1px solid #e5e5e6;
    background-color: white;
    li{
      margin-left: 15px;
      border-bottom: 1px solid #e5e5e6;
      line-height: 40px;
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
.myhold{
  .top{
    background-color: @main_color;
    padding: 15% 0px 0px;
    text-align: center;
    color: white;
    position: relative;
    margin-bottom: 10px;
    .set{
      position: absolute;
      width: 20px;
      height: 20px;
      background: url("@{url}/setting.png") no-repeat;
      background-size: 20px;
      display: block;
      right: 15px;
      top: 15px;
      text-indent: -9999px;
    }
    .total{
      font-size: 40px;
      margin-top: 5px;
    }
  }
  .con{
    background-color: @deep_color;
    margin-top: 6%;
    padding: 10px 0px 10px;
    line-height: 25px;
    .item{
      width: 50%;
      border-right: 1px solid white;
      float: left;
      &:last-child{
        border-right: none;
      }
    }
  }
  .box{
    border-top: 1px solid #d9d6d6;
    border-bottom: 1px solid #d9d6d6;
    background-color: white;
  }
  .link{
    height: 40px;
    line-height: 40px;
    display: block;
    padding: 0px 30px 0px 15px;
    margin: 5px 0px;
    background: url("@{url}/arrow.png") no-repeat white 98% center;
    background-size: 12px;
  }
  .act{
    padding: 5px 0px;
    a{
      width: 50%;
      text-align: center;
      line-height: 35px;
      float: left;
      border-right: 1px solid #d9d6d6;
      &:last-child{
        border-right: none;
      }
      i{
        width: 17px;
        height: 21px;
        display: inline-block;
        margin-right: 5px;
        top: 6px;
        position: relative;
        &.sy{
          background: url("@{url}/hold-sy.png") no-repeat;
          background-size: 17px;
        }
        &.jy{
          background: url("@{url}/hold-jy.png") no-repeat;
          background-size: 17px;
        }
      }
    }
  }
  .list{
    margin-top: 5px;
    li{
      background-color: white;
      padding: 15px 0px;
      margin-bottom: 5px;
      .tp{
        padding: 0px 15px 10px;
        .tag{
          height: 20px;
          line-height: 18px;
          font-size: 12px;
          color: #1967b2;
          border: 1px solid #1967b2;
          padding: 0px 5px;
          border-radius: 10px;
        }
        .t{
          font-size: 18px;
          font-weight: normal;
        }
      }
      .bt{
        .item{
          width: 33.3%;
          text-align: left;
          padding-left: 15px;
        }
        .t{
          font-size: 12px;
        }
        .num{
          font-size: 18px;
          margin-top: 5px;
        }
      }
    }
  }
}
.detailprofit{
  .top{
    background-color: #ef4a43;
    padding: 15px 0px;
    .item{
      width: 50%;
      text-align: center;
      color: white;
      float: left;
      padding: 5px 0px;
      border-right: 1px solid white;
      &:last-child{
        border-right: none;
      }
      .text-small{
        font-size: 12px;
      }
      .num{
        font-size: 30px;
        margin-top: 15px;
      }
    }
  }
  .box{
    background-color: white;
    margin-top: 5px;
    border-top: 1px solid #eff0f4;
    border-bottom: 1px solid #eff0f4;
    .title{
      font-weight: bold;
      border-bottom: 1px solid #eff0f4;
      padding: 10px 15px;
      .w{
        display: inline-block;
        border-left: 4px solid #1967b2;
        padding-left: 10px;
      }
    }
    li{
      border-bottom: 1px solid #eff0f4;
      a{
        display: block;
        line-height: 40px;
        padding: 0px 30px 0px 15px;
        background: url("@{url}/arrow.png") no-repeat 98% center;
        background-size: 10px;
      }
    }
  }
  .padbox{
    padding: 15px;
  }
}
.chargelist{
  .tab{
    border-bottom: 1px solid #e5e5e6;
    background-color: white;
    text-align: center;
    a{
        padding: 10px 0px;
        width: 50%;
        float: left;
        text-align: center;
        color: #666666;
        &.current{
            border-bottom: 2px solid #ef5643;
            position: relative;
            top: 1px;
            color: #ef5643;
        }
    }
  }
}
.chargePage{
  margin-top: 5px;
  .item{
    padding: 0px 15px;
    background-color: white;
    margin-bottom: 10px;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
  }
  .tb{
    width: 100%;
    font-size: 14px;
    .t{
      font-size: 16px;
    }
    th{
      padding: 0px;
      font-weight: normal;
      text-align: left;
    }
    td{
      padding: 10px 0px 10px 0px;
      &.text-red{
        padding-top: 0px;
      }
      &.bt{
        border-top: 1px solid #dfdfdf;
      }
    }
  }
}
